*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(234, 104, 23);
    min-height: 100vh;
    display: flex;
}

.add-button,
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    width: 35%;
    background: rgb(234, 104, 23);
}

.welcome {
    width: 65%;
    color: #ffffff;
}

.show-form i {
    font-size: 6em;
    outline: none;
    /* border: none; */
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
    /* background: #ffffff; */
    background: #ffffff;
    color: rgb(234, 104, 23);
    margin: 0;
    transition: 1s all ease ;
}

.show-form {
    background: rgb(234, 104, 23);
    border: none;
}

.show-form i:hover {
    transform: rotate(315deg) scale(1.1);
}

.display-task {
    min-height: 40vh;
}


@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-height: 80vh;
    }

    .welcome{
        display: flex;
        align-items: flex-start;
        margin: 2em;
        padding-bottom: 3em;
    }

    .show-form i {
        font-size: 4em;
        border: 6px solid rgb(255, 255, 255);
    }
}

/* task form  */
form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: rgb(234, 104, 23);
}

form header {
    background: rgb(234, 104, 23);
    color: #ffffff;
    padding: 1em;
    border-radius: .3em;
    margin-bottom: .8em;
}

/* from input fields */
form input {
    padding: .8em;
    border-radius: .3em;
    border: .1px solid #000000;
    outline: none;
}

/* styling the submit button */

#sub-btn {
    color: #ffffff;
    background: rgb(234, 104, 23);
    padding: .5em;
    border: .4px solid #cccccc;
    border-radius: .3em;
}

#sub-btn:hover {
    color: #ffffff;
    background: rgb(238, 133, 68);
    padding: .5em;
    border: .4px solid #cccccc;
}
